


<div class="row">



<div class="col-2">

  <li class="menu-item"><a href="/">Home</a></li>

</div>

<div class="col-2">

  <li class="menu-item"><a href="about">About</a></li>
  
</div>

<div class="col-2">

  <li class="menu-item"><a href="resume">Resume</a></li>
  
</div>

<div class="col-2">

  <li class="menu-item"><a href="projects">Projects Page</a></li>
  
</div>

<div class="col-2">

  <li class="menu-item"><a href="databaseDiagrams">Database Diagrams Page</a></li>
  
</div>

<div class="col-2">

  <li class="menu-item"><a href="APIunit">API Unit Tests Page</a></li>
  
</div>






</div>

