<ul class="nav-menu">
    <li class="menu-item"><a href="/">Home</a></li>
    <li class="menu-item"><a href="about">About</a></li>
    <li class="menu-item"><a href="resume">Resume</a></li>
    <li class="menu-item"><a href="projects">Projects Page</a></li>
    <li class="menu-item"><a href="databaseDiagrams">Database Diagrams Page</a></li>
    <li class="menu-item"><a href="APIunit">API Unit Tests Page</a></li>
  </ul>

  