<%- include("../views/_head")%>

<body>

    <header><%- include("../views/_header")%></header>

    <main>

<article>
    <div class="card">
        <div>

        <h1 id="h1">A little bit about me.</h1>

<!-- Brief bio on yourself and a couple of images (at least 2) that showcase your personality/hobbies.-->

<p>I couldn’t sit still long enough for, ‘Netflix and chill.’ There are at least a dozen different interests competing for my time at any given moment. My daughter Sariah takes first, spending time with her, catching horses in BotW or lightening bugs in the backyard we’re always on for a new adventure every day. Some of my hobbies include photography, skateboarding, snowboarding, and ice hockey. My three favorite video games are The Legend of Zelda: Breath of the Wild, Final Fantasy XI (circa 2000), and Fallout 4. I consider myself lucky to of traveled so many places and hope to continue doing so throughout my life. I like to follow the local, national, and international news.</p>


</div>
</div>
</article>


<div class="breakup">
    <div><img src="/images/otto.png" width="300" height="auto"></div>
    <div><img src="/images/hockey.jpg" width="600" height="auto"></div>
</div>

    </main>

    <footer><%- include("../views/_footer")%></footer>

</body>
</html>