<%- include("../views/_head")%>

<body>

    <header><%- include("../views/_header")%></header>
    <h1><%= title %></h1>
    <main>

    
<div class="card">

    <section class="about">

        <div class="containerPadding">

<p>I couldn’t sit still long enough for, ‘Netflix and chill.’ 
There are at least a dozen different interests competing for 
my time at any given moment. My daughter Sariah takes first, 
spending time with her, catching horses in BotW or lightening 
bugs in the backyard we’re always on for a new adventure every 
day. Some of my hobbies include photography, skateboarding, 
snowboarding, and ice hockey. My three favorite video games 
are The Legend of Zelda: Breath of the Wild, Final Fantasy 
XI (circa 2000), and Fallout 4. I consider myself lucky to 
of traveled so many places and hope to continue doing so 
throughout my life. I like to follow the local, national, 
and international news.</p>

        </div>

        <div class="containerPadding">
            
            <img src="/images/riah.jpg">
        
        </div>
    </section>
</div>



<div class="card">

    <section class="dogs">

        <div class="containerPadding">

            <img src="/images/otto.jpg">

        </div>


        <div class="containerPadding">

            <img src="/images/luna.jpg">

        </div>

        <div class="containerPadding">

            <img src="/images/ollie.jpg">

        </div>

    </section>

</div>



    


<div class="card">

    <section class="hockey">

        <div class="containerPadding">

            <img src="/images/hockey.jpg">

        </div>



        <div class="containerPadding">

            <img src="/images/championship.jpg">

        </div>
        
 
        
    </section>

</div>





    </main>

    <footer><%- include("../views/_footer")%></footer>

</body>
</html>