<%- include("../views/_head")%>

<body>

<header><%- include("../views/_header")%></header>

<h1><%= title %></h1>

    <main>

        <section>

<div class="containerPadding">

    <div class="row"><!-- first row -->

        <div class="col-4">

            <a href="#"><div class="card">
                
                <div class="containerPadding">
            
                    <h3>Neque porro</h3>
            
                    <p>Pellentesque molestie erat</p>
            
                </div>
            
            </div></a>

        </div>

        <div class="col-4">

            <a href="#"><div class="card">
                
                <div class="containerPadding">
            
                    <h3>Nerat convallis</h3>
            
                    <p>Evel consequat enim molestie</p>
            
                </div>
            
            </div></a>

        </div>

        <div class="col-4">

            <a href="#"><div class="card">
                
                <div class="containerPadding">
            
                    <h3>Ut malesuada</h3>
            
                    <p>Quisque vel ornare metus</p>
            
                </div>
            
            </div></a>

        </div>
    
    </div><!-- .row 1st -->









</div><!-- .containerPadding wrap -->
</section>

</main>

<footer><%- include("../views/_footer")%></footer>

</body>
</html>