<%- include("../views/_head")%>

<body>

    <header><%- include("../views/_header")%></header>

    <main>


<h1 id="h1">Brooke's Personal Portfolio</h1>


<div style="margin: 1em;">
<div class="row">

<div class="col-4">
    <a href="#" target="_blank">   
        <div>
            <div class="card-container">
                <div class="card">
                    <div class="card-title">Neque porro</div>
                    <div class="card-content">Pellentesque molestie erat nec erat convallis, vel consequat enim molestie.</div>
                </div>
            </div>
        </div>
        </a> 
</div>

<div class="col-4">
    <a href="#" target="_blank">
        <div>
            <div class="card-container">
                <div class="card">
                    <div class="card-title">Ut malesuada</div>
                    <div class="card-content">Quisque vel ornare metus. Ut eu enim a urna semper sodales nec at nulla.</div>
                </div>
            </div>
        </div>
        </a>
</div>

<div class="col-4">
    <a href="#" target="_blank">
        <div>
            <div class="card-container">
                <div class="card">
                    <div class="card-title">Fusce placerat</div>
                    <div class="card-content">Cras efficitur enim eu ultricies molestie.</div>
                </div>
            </div>
        </div>
        </a>
</div>

</div>
</div>







    </main>

    <footer><%- include("../views/_footer")%></footer>

</body>
</html>