<%- include("../views/_head")%>

<body>

    <header><%- include("../views/_header")%></header>

    <main>

<div class="projects">

<div class="row">

<div class="col-4">

    <a href="https://brooketaylor.github.io/web-231/index.html" target="_blank">   
        <div>
        <div class="card-container">
            <div class="card">
                <div class="card-title">WEB 231 Landing Page</div>
                <div class="card-content">Enterprise JavaScript I Index Page</div>
            </div>
        </div>
    </div>
    </a> 

</div>

<div class="col-4">

    <a href="https://brooketaylor.github.io/web-330/" target="_blank">
        <div>
            <div class="card-container">
                <div class="card">
                    <div class="card-title">WEB 330 Landing Page</div>
                    <div class="card-content">Enterprise JavaScript II Index Page</div>
                </div>
            </div>
        </div>
        </a>
    
</div>

<div class="col-4">

    <a href="#" target="_blank">
        <div>
            <div class="card-container">
                <div class="card">
                    <div class="card-title">WEB 420's Capstone Project</div>
                    <div class="card-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget porttitor nibh.</div>
                </div>
            </div>
        </div>
        </a>
    
</div>

</div>










<div class="row">

    <div class="col-4">
    
        <a href="#" target="_blank">
            <div>
                <div class="card-container">
                    <div class="card">
                        <div class="card-title">Composer App</div>
                        <div class="card-content">Phasellus pharetra leo vitae congue pellentesque.</div>
                    </div>
                </div>
            </div>
            </a>
    
    </div>
    
    <div class="col-4">
    
        <a href="#" target="_blank">
            <div>
                <div class="card-container">
                    <div class="card">
                        <div class="card-title">GPA Calculator App</div>
                        <div class="card-content">Sed sagittis sapien a aliquam ultrices.</div>
                    </div>
                </div>
            </div>
            </a>
        
    </div>
    
    <div class="col-4">
    
        <a href="#" target="_blank">
            <div>
                <div class="card-container">
                    <div class="card">
                        <div class="card-title">In-N-Out-Books</div>
                        <div class="card-content">Duis vestibulum placerat elementum. Integer condimentum consectetur gravida.</div>
                    </div>
                </div>
            </div>
            </a>
        
    </div>
    
    </div>








    <div class="row">

        <div class="col-4">
        
            <a href="#" target="_blank">
                <div>
                    <div class="card-container">
                        <div class="card">
                            <div class="card-title">nodebucket</div>
                            <div class="card-content">Ut malesuada bibendum ipsum vel malesuada.</div>
                        </div>
                    </div>
                </div>
                </a>
        
        </div>
        
        <div class="col-4">
        
            <a href="#" target="_blank">
                <div>
                    <div class="card-container">
                        <div class="card">
                            <div class="card-title">Bob's Computer Repair Shop</div>
                            <div class="card-content">Maecenas efficitur neque enim, vel tincidunt diam pulvinar vitae.</div>
                        </div>
                    </div>
                </div>
                </a>
            
        </div>
        
        <div class="col-4">
        
        
            
        </div>
        
        </div>



    </div>





    </main>

    <footer><%- include("../views/_footer")%></footer>

</body>
</html>