<%- include("../views/_head")%>

<body>

<header><%- include("../views/_header")%></header>

<h1><%= title %></h1>

    <main>

<div class="card">

<article>

    <div class="containerPadding">

        <h2>Resume</h2>
        
<div class="row">

    <div class="col-6">
        <h3>Education</h3>
        <b>Bellevue University</b><br>
        Bachelor of Science - Expected Oct 2023<br>
        Web Development<br>
        <br>
        <b>Fontbonne University</b><br>
        Bachelor of Arts - Fall of 2012<br>
        Advertising / Graphic Design
    </div>
    <div class="col-6">
        <h3>Computer Skills</h3>
        Windows / Mac<br>
        <br>
        Adobe Creative Cloud - After Effects, Illustrator, InDesign, Photoshop, XD<br>
        <br>
        Web Development - HTML, CSS, JavaScript, Bootstrap, jQuery, Node.js, Express
    
    </div>

</div><!-- .row -->

<h3>Experience</h3>

<div class="row">
    <div class="col-9">
        <h4>Salesperson / Administrative Specialist</h4>
        <p>Nebraska Furniture Mart - Kansas City, KS</p>
    </div>
    <div class="col-3">
        <p>December 2020 -<br>February 2023</p>
    </div>
</div>
<ul>
    <li>Member of the Be One Diversity & Culture Committee</li>
    <li>Professional sales – 100% commission</li>
    <li>Business-to-business sales</li>
    <li>Account/order management for outside sales team.</li>
    <li>Vendor certified for both major and luxury appliances.</li>
</ul>


<div class="row">

    <div class="col-9">

        <h4>Retail Sales / Customer Service Representative</h4>
        <p>Pacific Sales inside Best Buy - Chesterfield, MO</p>


    </div>

    <div class="col-3">

        <p>August 2019 -<br>December 2020</p>

    </div>

</div>


<ul>
    <li>Answer phones & help in store customers with appliance delivery issues</li>
    <li>Creating alerts and managing a list of orders to watch that have been flagged with detailed notes left for other staff/delivery/install teams</li>
    <li>Assist customers with complete solutions for kitchen & laundry packages</li>
    <li>Backup other departments with complex order issues</li>
    <li>Learning Lounge (Web based learning) Leaderboard #1 for fiscal year</li>
</ul>



<div class="row">

    <div class="col-9">

        <h4>Appliance / Merchandise Supervisor</h4>
        <p>JCPenney’s - Kansas City, KS</p>
        
    </div>

    <div class="col-3">

        <p>July 2016 -<br>March 2018</p>

    </div>

</div>

<ul>
    <li>Create schedules and manage breaks</li>
    <li>Generate business through referrals</li>
    <li>Managing company merchandise standards and execution</li>
    <li>Training and developing new associates</li>
    <li>Managing a communication binder for continuing training, feedback and news</li>
</ul>



<div style="text-align: center;">
    <a href="files/resume.pdf">Download the pdf</a>
    </div>


    </div>

</article>    

</div>
        
    </main>

<footer><%- include("../views/_footer")%></footer>


</body>
</html>

