/**
    Title: Site styling. 
    Arthur: Professor Krasso
    Date: 02/14/23
    Modified By: Brooks
    Description: screen size set up. 
*/



/* ********** SMALL SCREEN < 641 ********** */ 
@media only screen and (max-width: 640px) {

    #indexPg > div {
      width: 80%;
      margin-left: 10%;
    }
    
    .about > div {
      width: 80%;
      margin-left: 10%;
    }

    .dogs > div {
      width: 80%;
      margin-left: 10%;
    }

    .hockey > div {
      width: 80%;
      margin-left: 10%;
    }



    img {
        max-width: 100%;
    }




      }
     
     
    
    
    
    
    
    
    
     /* ********** MEDIUM SCREEN >640 ********** */ 
      @media only screen and (min-width: 641px) {
    
    
    /* new */
    #indexPg {
      display: grid;
      grid-template-columns: auto auto;
    }

        /* new */
    .about {
      display: grid;
      grid-template-columns: auto auto;
    }

    .dogs {
      display: grid;
      grid-template-columns: auto auto auto;
    }

    .hockey {
      text-align: center;
    }
    
    
    .card {
      width: 80%;
      margin-left: 10%;
    }
    


    img {
        max-width: 100%;
    }
    
    

      }
     
     
    
    
    
    
    
    
    
    
    
    
      /* ********** LARGE SCREEN > 1007 ********** */ 
      @media only screen and (min-width: 1008px) {
    


        
    article {
        padding: 5%;
    }

    section {
      padding: 5%;
    }


    
    
      }
    
    
    