/**
    Title: Site styling. 
    Arthur: Professor Krasso
    Date: 01/29/23
    Modified By: Brooks
    Description: Just the beginning of the styling. 
*/



/** 
      ************ ALL ************** 
*/

* {
    font-family: Oswald, Verdana, Ariel, sans-serif;
}


h1, h2, h3 {
    text-align: center;
}


body {
    background-color: #eee;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


.card {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin-bottom: 1em;
}


.containerPadding {
  padding: 1em;
}







/** 
      ************ HEADER ************** 
*/

.header {
  background-color: #6252f6;
}

header a {
  text-decoration: none;
  color: white;
}

.menu-item {
  list-style-type: none;
}

.menu-item :hover {
  color: #a49bf7;
  text-shadow: 2px 2px #4e4a75;
}

.menu-item a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 1em;
}







/** 
      ************ FOOTER ************** 
*/

footer {
    background-color: #6252f6;
    text-align: center;
    margin-top: 3em;
    color: white;
}

footer a {
  text-decoration: none;
  color: white;
}