<%- include("../views/_head")%>

<body>

<header><%- include("../views/_header")%></header>

<h1><%= title %></h1>

    <main>

<div class="card">

    <article id="indexPg">

        <div class="containerPadding">

            <p>I'm going to school to learn Web Development from Bellevue University!</p>

            <h3>Bucket List</h3>
        
            <ol>
                <li>Finish school, again</li>
                <li>then continue learning</li>
                <li>hybird workplace environment</li>
                <li>travel new places</li>
                <li>Meet new people</li>
                <li>own my own house</li>
                <li>land and roll away from a kickflip underflip</li>
                <li>Unlock all trophies on TES V: Skyrim</li>            
            </ol>

        </div>

        <div class="containerPadding">

            <figure>
                <img src="/images/bt.jpg" alt="This is me, I go by Brooke.">
                <figcaption>This is me, Brooke!</figcaption>
              </figure>

        </div>

    </article>

</div>

    </main>

    <footer>

        <div class="row">

            <div class="col-3">
        
                <li class="menu-item"><a href="https://github.com/BrookeTaylor?tab=repositories" target="_blank">Brooke GitHub</a></li>
        
            </div>
        
            <div class="col-3">
        
                <li class="menu-item"><a href="https://www.bellevue.edu/degrees/bachelor/web-development-bs/" target="_blank">Bellevue University Web Development Degree</a></li>
                
            </div>
        
            <div class="col-3">
        
                <li class="menu-item"><a href="https://www.youtube.com/@bellevueuniversity" target="_blank">Bellevue University Wev Development Youtube Channel</a></li>
            
            </div>
        
            <div class="col-3">
        
                <li class="menu-item"><a href="https://github.com/buwebdev" target="_blank">Bellevue University Web Development GitHub</a></li>
            
            </div>
        
        
        </div>

        <%- include("../views/_footer")%>

    </footer>

</body>
</html>