<%- include("../views/_head")%>

<body>

<header><%- include("../views/_header")%></header>

<h1><%= title %></h1>

    <main>

        <section>

<div class="containerPadding">

    <div class="row"><!-- first row -->

        <div class="col-4">


<a href="https://brooketaylor.github.io/web-231/index.html"><div class="card">
    
    <div class="containerPadding">

        <h3>WEB 231 Landing Page</h3>

        <p>Enterprise JavaScript I Index Page</p>

    </div>

</div></a>


        </div>

        <div class="col-4">


            <a href="https://brooketaylor.github.io/web-330/"><div class="card">
                
                <div class="containerPadding">
            
                    <h3>WEB 330 Landing Page</h3>
            
                    <p>Enterprise JavaScript II Index Page</p>
            
                </div>
            
            </div></a>
            
            
                    </div>
        



                    <div class="col-4">


                        <a href="#"><div class="card">
                            
                            <div class="containerPadding">
                        
                                <h3>WEB 420's Capstone Project</h3>
                        
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                        
                            </div>
                        
                        </div></a>
                        
                        
                                </div>                    
    </div><!-- .row 1st -->





    <div class="row"><!-- second row -->

        <div class="col-4">


<a href="#"><div class="card">
    
    <div class="containerPadding">

        <h3>Composer App</h3>

        <p>Phasellus pharetra leo vitae</p>

    </div>

</div></a>


        </div>

        <div class="col-4">


            <a href="#"><div class="card">
                
                <div class="containerPadding">
            
                    <h3>GPA Calculator App</h3>
            
                    <p>Sed sagittis sapien a aliquam</p>
            
                </div>
            
            </div></a>
            
            
                    </div>
        



                    <div class="col-4">


                        <a href="#"><div class="card">
                            
                            <div class="containerPadding">
                        
                                <h3>In-N-Out-Books</h3>
                        
                                <p>Duis vestibulum placerat elementum</p>
                        
                            </div>
                        
                        </div></a>
                        
                        
                                </div>                    
    </div><!-- .row 2nd -->




    <div class="row"><!-- third row -->

        <div class="col-4">


<a href="#"><div class="card">
    
    <div class="containerPadding">

        <h3>nodebucket</h3>

        <p>Ut malesuada bibendum ipsum</p>

    </div>

</div></a>


        </div>

        <div class="col-4">


            <a href="#"><div class="card">
                
                <div class="containerPadding">
            
                    <h3>Bob's Computer Repair Shop</h3>
            
                    <p>Maecenas efficitur neque enim</p>
            
                </div>
            
            </div></a>
            
            
                    </div>
        



                    <div class="col-4">

                        
                        
                                </div>                    
    </div><!-- .row 3rd -->

    
</div><!-- .containerPadding for wrap all content.-->

        </section>

    </main>

    <footer><%- include("../views/_footer")%></footer>

</body>
</html>